@{
    this.ViewData["Title"] = "About Page";
}
<h1 class="w-100 d-flex justify-content-center text-center mb-5">Legends Coach</h1>
<div class="d-flex text-center justify-content-center">
    <p class="w-50">
        LegendsCoach is a web application for improving yourself in games where you can find coaches If you want to become a player you need to register and fill your game info. If you are a player you can have fun creating your own champion, but you should not be worried if you miscreate a champion, because you can always edit or delete your creation. Also you can see other players,coaches and their game info about them. The coach is a player who can do the same things but is shown in the coaches tab. The administrator can promote players to coaches if he thinks they are good enough and can delete every champion if he thinks it's inappropriate.
    </p>
</div>
